<div>
    <h2>{{id ? 'Detail Project' : 'Add New Project'}}</h2>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="16px">
        <mat-card ngStyle.gt-xs="width: 500px" fxFlex="40">
            <form [formGroup]="projectForm" (ngSubmit)="submit()">
                <mat-form-field appearance="outline" floatLabel="always" class="w-100p" *ngIf="id">
                    <mat-label>ID*</mat-label>
                    <input matInput placeholder="Input ID" formControlName="id">
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100p">
                    <mat-label>Project Name*</mat-label>
                    <input matInput placeholder="Input Project Name" formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100p" *ngIf="id">
                    <mat-label>Project Slug*</mat-label>
                    <input matInput placeholder="" formControlName="slug">
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always" class="w-100p">
                    <mat-label>Project Description</mat-label>
                    <textarea rows="5" matInput placeholder="Input Project Description"
                        formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100p">
                    <mat-label>Project Manager*</mat-label>
                    <mat-select formControlName="manager" placeholder="Select One">
                        <mat-option *ngFor="let user of userOption" [value]="user">
                            {{user?.label | titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="m-t-3"></div>
                <button mat-raised-button color="primary" class="w-100p" type="submit" [disabled]="!projectForm.valid"
                    *ngIf="!loading">{{ id? 'Update' : 'Create'}}</button>
                <mat-spinner diameter="40" class="m-x-a w-100p" *ngIf="loading"></mat-spinner>
            </form>
        </mat-card>
        <div *ngIf="id" fxFlex class="overflow-a">
            <table mat-table [dataSource]="tasks" class="mat-elevation-z0 w-100p">

                <ng-container matColumnDef="id">
                    <th class="m-r-2" mat-header-cell *matHeaderCellDef style="min-width: 50px;"> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>


                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef style="min-width: 120px;"> User </th>
                    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef style="min-width: 120px;"> Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="slug">
                    <th mat-header-cell *matHeaderCellDef style="min-width: 120px;"> Slug </th>
                    <td mat-cell *matCellDef="let element"> {{element.slug}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef style="min-width: 200px;"> Description </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="text-clamp-2">{{element.description}}</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="dueDate">
                    <th mat-header-cell *matHeaderCellDef style="min-width: 100px;"> Due Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef style="min-width: 90px;"> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef style="min-width: 50px;"> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="Delete" color="warn" (click)="removeTask(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor-pointer"
                    (click)="goToDetail(row)"></tr>
            </table>
        </div>
    </div>
</div>