<mat-sidenav-container class="h-100p">
    <mat-sidenav #sidenav [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" opened>
        <mat-toolbar color="primary" class="toolbar-content">
            <span class="cursor-pointer" routerLink="/">Logo</span>
        </mat-toolbar>
        <mat-nav-list class="p-t-0" style="overflow-y: auto; height: calc(100% - 64px);">
            <ng-container *ngFor="let route of routes">
                <a mat-list-item [routerLink]="route.path">
                    <mat-icon class="m-r-1">{{route.icon}}</mat-icon>
                    <div>{{route.name | titlecase}}</div>
                </a>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="toolbar-content" fxLayout="row">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="m-l-a">
                <button mat-button [matMenuTriggerFor]="menu">
                    <div fxFlex="row" fxLayoutAlign="center center">
                        <div>{{name || '...'}}</div>
                        <mat-icon class="m-l-1">account_circle</mat-icon>
                    </div>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logOut()">Log Out</button>
                </mat-menu>

            </div>

        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>