<div class="h-100p" fxLayout="column" fxLayoutAlign="center center">
    <div class="mat-display-1">LOGO</div>
    <mat-card style="min-width: 300px;">
        <mat-card-content>
            <h1 class="">Login</h1>
            <form [formGroup]="form">
                <mat-form-field class="w-100p">
                    <input matInput placeholder="Email" type="email" email formControlName="email">
                </mat-form-field>
                <mat-form-field class="w-100p">
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>
                
                <div class="m-t-3"></div>
                <button mat-raised-button color="primary" class="w-100p" [disabled]="form.invalid" *ngIf="!loading" (click)="login()">
                    Login
                </button>
                <mat-spinner diameter="40" class="m-x-a w-100p" *ngIf="loading"></mat-spinner>
            </form>
        </mat-card-content>
    </mat-card>
</div>