<div>
    <h2>{{id ? 'Detail Task' : 'Add New Task'}}</h2>
    <mat-card ngStyle.gt-xs="width: 500px">
        <form [formGroup]="taskForm" (ngSubmit)="submit()">
            <mat-form-field appearance="outline" floatLabel="always" class="w-100p">
                <mat-label>ID*</mat-label>
                <input matInput placeholder="Input ID" formControlName="id">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="w-100p">
                <mat-label>Project ID*</mat-label>
                <mat-select formControlName="projectId">
                    <mat-option *ngFor="let project of projectOption" [value]="project?.value">
                        {{project?.label | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="w-100p">
                <mat-label>User*</mat-label>
                <input matInput placeholder="Input User" formControlName="user">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="w-100p">
                <mat-label>Title*</mat-label>
                <input matInput placeholder="" formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="w-100p">
                <mat-label>Slug*</mat-label>
                <input matInput placeholder="" formControlName="slug">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="w-100p">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Input Description" formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" class="w-100p">
                <mat-label>Status*</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let status of statusOption" [value]="status">
                        {{status | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" class="w-100p">
                <mat-label>Due Date</mat-label>
                <input matInput placeholder="Input Due Date" type="date" formControlName="dueDate">
            </mat-form-field>

            <button mat-raised-button color="primary" class="m-t-3 w-100p" type="submit" [disabled]="!taskForm.valid">{{
                id? 'Update' : 'Create'}}</button>
        </form>
    </mat-card>
</div>