<div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <button mat-raised-button color="primary" class="m-b-3" routerLink="./add">Add New Project</button>
        <mat-form-field appearance="standard" floatLabel="always" fxFlex formControll>
            <mat-label>Search</mat-label>
            <input matInput placeholder="Input Project Name" [formControl]="search">
        </mat-form-field>
    </div>

    <div class="w-100p overflow-a">
        <table mat-table [dataSource]="filterProjects" class="mat-elevation-z0 w-100p">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef style="min-width: 50px;"> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="min-width: 200px;"> Project Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="slug">
                <th mat-header-cell *matHeaderCellDef style="min-width: 220px"> Project Slug </th>
                <td mat-cell *matCellDef="let element"> {{element.slug}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef style="min-width: 300px;"> Project Description </th>
                <td mat-cell *matCellDef="let element">
                    <div class="text-clamp-2">{{element.description || '-'}} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="manager">
                <th mat-header-cell *matHeaderCellDef style="min-width: 200px;"> Manager </th>
                <td mat-cell *matCellDef="let element"> {{element.managed_by}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef style="min-width: 50px;"> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="Delete" color="warn"
                        (click)=" $event.stopPropagation(); removeProject(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor-pointer"
                (click)="goToDetail(row)"></tr>
        </table>
    </div>
    <mat-spinner diameter="40" class="m-x-a w-100p m-t-3" *ngIf="loading"></mat-spinner>
</div>